@font-face {
  font-family: 'ProximaNova-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-bold';
  font-weight: 700;
  font-style: normal;
  src: local('ProximaNova-bold'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-display: swap;
}