html,
body {
  height: 100%;
}

body {
  @extend%proxima-400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
  overflow-x: hidden;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-weight: 700;
    font-size: 50px;
    line-height: 119.3%;
    text-transform: uppercase;
    text-align: center;
}
.button{
  font-weight: 700;
  background: #009EFF;
  text-transform: uppercase;
  padding: 10px 60px;
  color: #FFFFFF;
}